<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a class="navbar-brand" routerLink="">
    <img src="..\assets\img\logo.png" width="30" height="30" alt="logo">
    HotInterviewQuestions
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-5">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-list-5">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a style="float: left;" class="nav-link" routerLink="" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage-questions" routerLinkActive="active">Manage Questions</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isUserAuthenticated" class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="isUserAuthenticated" class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
