<app-navbar></app-navbar>
<div class="d-md-flex h-md-100 align-items-center bg-image-div">

  <!-- First Half -->
  <!-- col-md-6 p-0 h-md-100 d-md-flex align-items-center h-100 p-5 text-center justify-content-center -->
  <div class="allign-items-center justify-content-center text-center col-md-6 p-0">
    <div class="text-shadow text-responsive div-top">
      Your progress will be registered only for the current session!
    </div>
    <div class="div-bottom">
      <button class="btn btn-success btn-lg btn-size" routerLink="/categories">Select categories</button>
    </div>
  </div>

  <!-- Second Half -->

  <div class="col-md-6 p-0 h-md-100 loginarea">
      <div class="text-white d-md-flex align-items-center h-md-100 p-5 justify-content-center">
        <div class="main">

          <div *ngIf="isUserAuthenticated" class="welcome-div">
            <p class="text-responsive text-welcome">Welcome <span style="color: green;">{{ userEmail }}</span>!
              <br/><br/>
              The feature which saves the progress is not implemented at the moment!
              You can still enjoy all the features of a guest user!</p>
          </div>

          <section *ngIf="!isUserAuthenticated" class="signup">
              <div class="container" style="padding-left: 13%;">
                  <div class="signup-content">
                      <form #signUpForm="ngForm" id="signup-form" class="signup-form" (ngSubmit)="onSignUp(signUpForm)">
                          <h2 class="form-title">Create account</h2>
                          <div class="form-group">
                              <input type="text" class="form-input" name="email"
                                placeholder="Your Email" required email ngModel/>
                          </div>
                          <div class="form-group password-wrapper">
                              <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-input"
                                name="password" placeholder="Password" required ngModel/>
                                <span class="btn-show-pass eye-span">
                                  <i class="fa fa-eye-slash password" (click)="toggleEye($event)"></i>
                                </span>
                          </div>
                          <div class="form-group password-wrapper">
                              <input [type]="isRepeatPasswordVisible ? 'text' : 'password'" class="form-input"
                                name="repeatPassword" placeholder="Repeat your password" required ngModel/>
                                <span class="btn-show-pass eye-span">
                                  <i class="fa fa-eye-slash repeatPassword" (click)="toggleEye($event)"></i>
                                </span>
                          </div>
                          <div class="form-group">
                              <button class="form-submit">SIGN UP</button>
                          </div>
                          <p *ngIf="!isFormValid" class="alert alert-warning p-warning">Invalid form!</p>
                          <p *ngIf="isUserAlreadyCreated" class="alert alert-warning p-warning">Email already registered!</p>
                          <p *ngIf="isUserSuccesfullyCreated" class="alert alert-success p-warning">Account successfully created!</p>
                      </form>
                      <p class="loginhere">
                          Already have an account ? <a routerLink="/login" class="loginhere-link">Login here</a>
                      </p>
                  </div>
              </div>
          </section>

        </div>
      </div>
  </div>

</div>
