.btn-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

#eye {
  pointer-events: none;
}

#btn-previous {
  background-color: #888888;
}

#btn-next {
  background-color: #888888;
}

#div-categories-btn {
  min-height: 20%;
}

#btn-back {
  margin-left: 0;
}

#div-questions {
  min-height: 33%;
  border: solid 1px blue;
}

#div-answears {
  min-height: 33%;
}

#div-nav-btns {
  height: 8%;
}
